@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');


.react-turbo-select__controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 327px;
    height: 30px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* overflow: hidden; */
    border: 1px solid #ced4da;

}

.react-turbo-select__drop-down-icon {
    /* border-radius: 0 5px 0 0; */
    padding-left: 5px;
    padding-right: 8px;
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #c4c4c4;
    background: transparent;
    /* border-left: 1px solid #ced4da; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.react-turbo-select__remove-icon {
    /* border-radius: 0 5px 0 0; */
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    width: 12px;
    height: 18px;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #b99090;
    background: #ffffff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.react-turbo-select__input {
    /* border-radius: 5px 0 0 0; */
    display: flex;
    width: 300px;
    height: 30px;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #212529;
    background: #ffffff;
    border: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.react-turbo-select__input:focus {
    border: 0;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.react-turbo-select__menu {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #212529;
    background: #ffffff;
    border: 1px solid #ced4da;
    /* border-top: 0; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0 0 5px 5px;
}

.react-turbo-select__menu--multiple {

    background-color: transparent;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 3px;
    /* padding: 2px */
}

.react-turbo-select__tag {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    /* background-color: #efefef; */
    border: 1px solid #ced4da;
    color: #333;
    padding: 5px 5px;
    padding-right: 0;
    margin-top: 10px;
    /* margin-bottom: 2px; */
    border-radius: 5px;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.react-turbo-select__remove-tag-icon {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    width: 15px;
    height: 15px;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #ff8484;
    /* background: #ffffff; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.react-turbo-select__option {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    /* border-bottom: 1px solid #ced4da; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.react-turbo-select__option--selected {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    /* border-bottom: 1 px solid #b7b8b9; */
    background-color: rgb(226, 226, 229);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.react-turbo-select__option--selected-dark {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    /* border-bottom: 1 px solid #b7b8b9; */
    background-color: #1a1a1a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


/* Styling for the scrollbar thumb and track */
.react-turbo-select__menu::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

.react-turbo-select__menu::-webkit-scrollbar-thumb {
    background-color: #cecece;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Optional: To give the scrollbar thumb some rounded corners */
}

.react-turbo-select__menu::-webkit-scrollbar-track {
    background-color: #050505;
    /* Background color of the scrollbar track */
    border-radius: 20px;
    background-color: transparent;

    /* Optional: To give the scrollbar track some rounded corners */
}